.dropshadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.height400 {
  height: 400px;
}

.height300 {
  height: 300px;
}

.margin-left-60 {
  margin-left:60px;
}

.margin-30 {
  margin:30px;
}

.margin-60 {
  margin:60px;
}

.blk-border{
  border-color: #888;
  border-style: solid;
  border-width: 0.5px;
}

.bg-red {
  background-color: #c10707;
}

.bg-lt-gry {
  background-color: #888;
}

.bg-blue {
  background-color: #4286f4;
}

.rounded-corners {
  border-radius: 5px;
}
.bg-blk {
  background-color: #000000
}